<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemnantMultipurposeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RemnantBuildRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RemnantMultipurposeManager.Properties.Settings>
            <setting name="CurrentProfile" serializeAs="String">
                <value />
            </setting>
        </RemnantMultipurposeManager.Properties.Settings>
        <RemnantBuildRandomizer.Properties.Settings>
            <setting name="RMMProfilePath" serializeAs="String">
                <value />
            </setting>
        </RemnantBuildRandomizer.Properties.Settings>
    </userSettings>
</configuration>